<a href="https://colab.research.google.com/github/fourchain40/DS3001/blob/main/GSS_Project1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Load selected variables into selected_gss_data.csv:

In [44]:
import pandas as pd
#
var_list = ['year', 'age', 'educ', 'relig', 'happy', 'zodiac','polviews', 'degree'] # List of variables you want to save
output_filename = 'selected_gss_data.csv' # Name of the file you want to save the data to
#
modes = ['w','a'] # Has write mode and append mode
phase = 0 # Starts in write mode; after one iteration of loop, switches to append mode
#
for k in range(3): # for each chunk of the data
    url = 'https://github.com/DS3001/project_gss/raw/main/gss_chunk_' + str(1+k) + '.parquet' # Create url to the chunk to be processed
    #print(url) # Check the url is correct
    df = pd.read_parquet(url) # Download this chunk of data
    #print(df.head()) # Visually inspect the first few rows
    df.loc[:,var_list].to_csv(output_filename, # specifies target file to save the chunk to
                              mode=modes[phase], # control write versus append
                              header=var_list, # variable names
                              index=False) # no row index saved
    phase = 1 # Switch from write mode to append mode

See count of NAs in dataframe df:

In [45]:
df = pd.read_csv('selected_gss_data.csv')
print(df.shape)
df.isna().sum()

(72392, 8)

<ipython-input-45-3ffc8cb357b5>:1: DtypeWarning: Columns (0,1,2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('selected_gss_data.csv')

year           0
age          769
educ         263
relig        437
happy       4802
zodiac      7939
polviews    9672
degree       196
dtype: int64

Change column names:

In [53]:
df = df.rename(columns = {'educ':'education',
                    'relig':'religion',
                    'polviews':'political_view'})

Clean religion variable:

In [54]:
religion = df['religion']
religion.fillna('unknown', inplace=True) #replace NAs with 'unknown'
religion.drop(df[df['religion'] == 'relig'].index, inplace=True) #drop rows with relig
df['religion'] = religion
del religion

Clean age variable:

In [68]:
age = df['age']
age = pd.to_numeric(age,errors='coerce') # Typecast age to float/numeric
age.fillna('unknown', inplace=True) #replace NAs with 'unknown'
age = age.apply(lambda x: int(x) if pd.notnull(x) and x != 'unknown' else x) # converts age to integer and removes the .0 at the end
df['age'] = age
del age

Clean degree variable:

In [65]:
df = df.rename(columns = {'degree':'degree_obtained'})
deg = df['degree_obtained']
deg.fillna('unknown', inplace=True) #replace NAs with 'unknown'
deg.drop(df[df['degree_obtained'] == 'degree'].index, inplace=True) #drop rows with degree
df['degree_obtained'] = deg
del deg

Clean education variable:

In [66]:
education = df['education']
education = pd.to_numeric(education,errors='coerce') # Typecast age to float/numeric
education.fillna('unknown', inplace=True) #replace NAs with 'unknown'
education = education.apply(lambda x: int(x) if pd.notnull(x) and x != 'unknown' else x) # converts age to integer and removes the .0 at the end
df['education'] = education
del education